body{
  font-family: Gordita, Arial;
  color: rgb(8, 21, 57);
  background-color: whitesmoke;
}
header{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  gap: 20px;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  gap: 20px;
}
@media (min-width: 576px){
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
    width: 16.6%;
  }
}
@media (min-width: 992px){
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
    width: 50%;
  }
}
p{
  cursor: pointer;
  font-size: 14px;
}
p:hover{
  color: #0d6efd;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
  padding: 30px 20px 5px;
  margin-bottom: 20px;
  background-color: white;
  vertical-align: top;
  width: 50%;
}
.box1, .box7{
  margin-left: 20px;
}
.box6, .box12{
  margin-right: 20px;
}